<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hisingen</string>
	<key>CFBundleExecutable</key>
	<string>Hisingen</string>
	<key>CFBundleIconFile</key>
	<string>Hisingen</string>
	<key>CFBundleIdentifier</key>
	<string>io.kheirallah.hisingen-cc97f41c-af39-4eb1-a7e6-0014f6e1c80f</string>
	<key>CFBundleName</key>
	<string>Hisingen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.kheirallah.hisingen.volvo-oauth-cc97f41c-af39-4eb1-a7e6-0014f6e1c80f</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hisingen</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.kheirallah.hisingen.polestar-command-oauth-cc97f41c-af39-4eb1-a7e6-0014f6e1c80f</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>polestar-explore</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Nicolas Kheirallah. Not affiliated with Polestar or Volvo Cars.</string>
</dict>
</plist>
